{% extends 'base.html.twig' %}

{% block title 'Agence de Limeil' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence de Limeil-Brevannes</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur explicabo iste iure nihil nobis ratione repellat repudiandae ullam unde voluptates? Alias consequatur deserunt nostrum pariatur saepe! At expedita quod vero.</p>
    </div>

    <div class="container">
        <h2>Nos nouveaux biens</h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <!-- Route et action avec slugify -->
                                <!-- twig se charge de convertir le getter et de l'utiliser -->
                                <!-- méthode path, création du chemin avec un paramètre l'id (JSON) -->
                                <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
                            </h5>
                            <p class="card-text">{{ property.city }} ({{ property.postalCode }})</p>
                            <div class="text-primary" style="front-weight: bold;font-size:2rem;">{{ property.formattedPrice }} €</div>
                            <!-- sans la function formattedPrice 
                                <div class="text-primary" style="front-weight: bold;font-size:2rem;">{{ property.Price | number_format(0, '', ' ') }} €</div> -->
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="jumbotron text-center">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h3>Transaction</h3>
                    <p>Gérez la vente de votre portefeuille de propriétés, terrains, les commerces, bureaux et propriétés de prestige</p>
                    <p><a href="#" class="button">En savoir plus</a></p>
                </div>
                <div class="carousel-item">
                    <h3>Location saisonnière</h3>
				    <p>Avec notre calendrier gérez vos tarifs par jour/semaine/mois et saison ainsi que vos options et réservations</p>
				    <p><a href="#" class="button">En savoir plus</a></p>
                </div>
                <div class="carousel-item">
                    <h3>Programme neuf</h3>
				    <p>Un module dédié aux biens neufs permet de gérer votre bien ainsi que les lots qui le composent</p>
				    <p><a href="#" class="button">En savoir plus</a></p>
                </div>
                <div class="carousel-item">
                    <h3>Commerces &amp; bureaux</h3>
				    <p>Notre outil vous permet de détailler les activités et résultats des commerces et toutes les prestations spécifiques pour l'immobilier d'entreprise</p>
				    <p><a href="#" class="button">En savoir plus</a></p>
                </div>
                <div class="carousel-item">
                    <h3>Viager</h3>
				    <p>Vous pouvez gérer les spécificités d'une vente en viager et en nue propriété avec le bouquet, la rente ainsi que l'age des occupants</p>
				    <p><a href="#" class="button">En savoir plus</a></p>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
{% endblock %}