{% extends 'base.html.twig' %}

{% block title 'Agence de Limeil' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence de Limeil-Brevannes</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur explicabo iste iure nihil nobis ratione repellat repudiandae ullam unde voluptates? Alias consequatur deserunt nostrum pariatur saepe! At expedita quod vero.</p>
    </div>

    <div class="container">
        <h2>Nos nouveaux biens</h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <!-- Route et action avec slugify -->
                                <!-- twig se charge de convertir le getter et de l'utiliser -->
                                <!-- méthode path, création du chemin avec un paramètre l'id (JSON) -->
                                <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
                            </h5>
                            <p class="card-text">{{ property.city }} ({{ property.postalCode }})</p>
                            <div class="text-primary" style="front-weight: bold;font-size:2rem;">{{ property.formattedPrice }} €</div>
                            <!-- sans la function formattedPrice 
                                <div class="text-primary" style="front-weight: bold;font-size:2rem;">{{ property.Price | number_format(0, '', ' ') }} €</div> -->
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

<!-- body slide -->
<ng-container>
    <div class="d-flex justify-content-center">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="" class="c-block w-75 " alt="property">
                <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="" class="c-block w-75" alt="property">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="s" class="c-block w-75" alt="property">
                <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </div>
        </div>
           <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Précédent</span>
            </a>
           <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Suivant</span>
            </a>
        </div>
    </div>
    </ng-container>
    <!-- endbody slide -->

<!-- body slide -->
<ng-container>
    <div class="d-flex justify-content-center">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="" class="c-block w-75 " alt="property">
                <div class="carousel-caption d-none d-md-block">
                <h2><em>Notre obsession :</em> votre métier</h2>
                <div class="software-carousel owl-carousel owl-theme owl-loaded">
				<!-- <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1842.5px;"><div class="owl-item active" style="width: 368.5px; margin-right: 0px;"><div> -->
  				<h3>Transaction</h3>
				<p>Gérez la vente de votre portefeuille de propriétés, terrains, les commerces, bureaux et propriétés de prestige</p>
				<!-- <p><a href="/fr/logiciel/" class="button">En savoir plus</a></p> -->
  			</div></div><div class="owl-item active" style="width: 368.5px; margin-right: 0px;"><div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="" class="c-block w-75" alt="property">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="s" class="c-block w-75" alt="property">
                <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </div>
        </div>
           <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Précédent</span>
            </a>
           <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Suivant</span>
            </a>
        </div>
    </div>
    </ng-container>
    <!-- endbody slide -->

    <!-- body slide Fonction -->
    <section class="showcase homepage-software">
	    <div>
            <h2><em>Notre obsession :</em> votre métier</h2>
            <div class="software-carousel owl-carousel owl-theme owl-loaded">
				<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1842.5px;"><div class="owl-item active" style="width: 368.5px; margin-right: 0px;"><div>
  				<h3>Transaction</h3>
				<p>Gérez la vente de votre portefeuille de propriétés, terrains, les commerces, bureaux et propriétés de prestige</p>
				<p><a href="/fr/logiciel/" class="button">En savoir plus</a></p>
  			</div></div><div class="owl-item active" style="width: 368.5px; margin-right: 0px;"><div>
  				<h3>Location saisonnière</h3>
				<p>Avec notre calendrier gérez vos tarifs par jour/semaine/mois et saison ainsi que vos options et réservations</p>
				<p><a href="/fr/logiciel/" class="button">En savoir plus</a></p>
  			</div></div><div class="owl-item" style="width: 368.5px; margin-right: 0px;"><div>
  				<h3>Programme neuf</h3>
				<p>Un module dédié aux programmes neufs permet de gérer votre programme ainsi que les lots qui le composent</p>
				<p><a href="/fr/logiciel/" class="button">En savoir plus</a></p>
  			</div></div><div class="owl-item" style="width: 368.5px; margin-right: 0px;"><div>
  				<h3>Commerces &amp; bureaux</h3>
				<p>Notre outil vous permet de détailler les activités et résultats des commerces et toutes les prestations spécifiques pour l'immobilier d'entreprise</p>
				<p><a href="/fr/logiciel/" class="button">En savoir plus</a></p>
  			</div></div><div class="owl-item" style="width: 368.5px; margin-right: 0px;"><div>
  				<h3>Viager</h3>
				<p>Vous pouvez gérer les spécifités d'une vente en viager et en nue propriété avec le bouquet, la rente ainsi que l'age des occupants</p>
				<p><a href="/fr/logiciel/" class="button">En savoir plus</a></p>
  			</div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="">prev</div><div class="owl-next" style="">next</div></div><div style="display: none;" class="owl-dots"></div></div></div>
	    </div>
    </section>
    <!-- endbody slide Fonction -->

    
{% endblock %}